nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--primary);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar__item {
  width: 100px;
}

.nav-bar__item a {
  color: #fff;
  text-decoration: none;
}
